#zombie {
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
}

@font-face {
    font-family: ownfont;
    src: url('../src/BLOODY.TTF');
}

div {
    text-align: center;
    font-family: ownfont;
}

#endgame {
    position: absolute;
    left: 43%;
    bottom: 50px;
}

button {
    width: 200px;
    height: 55px;
    font-family: ownfont;
    font-size: 35px;
    color: white;
    background-color: white;
    border: none;
    background-color: rgba(19, 19, 19, 0);
}

button:hover{
    color: darkred;
    font-size: 40px;
}

p {
    display: inline;
    text-align: center;
    color: rgb(99, 26, 26);
    text-shadow: none;
    font-size: 70px;
}

#title {
    color: darkolivegreen;
    font-size: 85px;
}

#endzombie{
    top: 20%;
    left: 20%;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
}

body{
    background-image: url('../images/graveyard1.gif');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    bottom: 100px;
    height: 100%;
}

#endzombie{
    display: none;
}

#hide{
    display: none;
}

#zombiedance{
    display: none;
}

#show{
    top: 50%;
    left: 47%;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    width: 5.5cm;
    height: 6.7cm;
}